# API Keys
GROQ_API_KEY=tu_groq_api_key_aqui
POLLINATIONS_API_KEY=tu_pollinations_api_key_aqui
GEMINI_API_KEY=tu_gemini_api_key_opcional

# Configuración
COUNTRY_FOCUS=AR
MAX_NEWS_PER_DAY=3
PORT=8000

# Instagram
IG_USERNAME=tu_usuario_de_instagram
IG_PASSWORD=tu_contrasena_de_instagram
